@charset "UTF-8";

span.content_text {
	
	font-size: 20px;
	color: #ddeeff;
	font-family: malgun;
	font-weight: bold;
	
}

span.info_text {
	
	font-size: 20px;
	color: #0a0468;
	font-family: malgun;
	font-weight: normal;
	
}

input.input_box {
	
	border: 1px solid #0a367a;
	background-color: #ffffff;
	width: 200px;
	padding: 5px;
	font-family: Arial;
	font-size: 18px;
	color: #0a367a;
	
}

textarea.questiontext {
	
	border: 1px solid #0a367a;
	background-color: #ffffff;
	width: 200px;
	padding: 5px;
	font-family: Arial;
	font-size: 18px;
	color: #0a367a;
}

input.button {
	
	border: 2px solid #ffffff;
	background-color: #0583e9;
	width: 170px;
	padding: 5px;
	font-family: Arial;
	font-size: 18px;
	color: #ecfafd;
	
}

input.button:hover {
	
	background-color: #0a367a;
}