@charset "UTF-8";

body {
	
	margin:0;
	padding:0;
}

td.header_menu {
	
	font-size: 16px;
	color: #ffffff;
	font-family: Arial;
	text-align: center;
	
}

span.login_text {
	
	font-size: 14px;
	color: #0a0468;
	font-family: malgun;	
	
}

a:link {
	
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	
	text-decoration: none;
	color: #ffffff;
	
}

a:hover {
	
	text-decoration: underline;
	color: #bed6fc;
}
